.dark {
	padding-top: 70px;
	background-color:black;
	color:#fff;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;	
}

.half {
	width:66% !important;
	margin:auto;
	display:table;
}

.stormy {
	background-color: #2b2b2b !important;
	border:0px solid #878787;
	display:inline;
}

.stormy-top-line{
	border-top:1px solid #878787;
}

.intro{
	font-weight:bold;
	font-size:1.5em;
	color:#fff;
	text-transform:uppercase;
}

.intro-dark {
	color:#acacac !important;
}

.subblue{
	color:#4ca5d0;
}

.stormgrey{
	background-color:#617799;	
}

.prime{
	background-color:#4ca5dd;
	color:#fff;
	border:0px;
	min-width:48px;
	min-height:48px;
	outline:none;
}

.nonprime{
	background-color:#2b2b2b;
	color:#acacac;
	outline:none;
	border:0px;
}

.secondary{
	background-color:#617799;
	color:#fff;
	border:0px;
	min-width:48px;
	min-height:48px;
	outline:none;
}

.tertiary{
	background-color:#659b70;
	color:#fff;
	border:0px;
	min-width:48px;
	min-height:48px;
	outline:none;
}

.navarrow{
	background-color:#2b2b2b;
	color:#4d4d4d;
	border:2px solid #4d4d4d;
	min-width:32px;
	min-height:32px;
	outline:none;
}

.navarrow:hover{
	background-color:#4d4d4d;
	color:#2b2b2b;
}


.primewide{
	background-color:#4ca5d0;
	color:#fff;
	border:0px;
	font-size:large;
	min-width:100px;
	min-height:48px;
}

.infoTextLabel{
	font-size:smaller;
	font-weight:bold;
	text-align:right;
	color:#fff;
}

.infoText {
	font-size:smaller;
	text-align:left;
	color:#acacac;
	padding-left:8px;
}

.paraText {	
	text-align:left;
	color:#acacac;	
}

.double{
	transform:scale(2,2);
}

.EmpHeader{
	border:0px;		
	background-color:#4ca5d0;
	color:#2b2b2b;
	border-radius: 4px;
	padding:8px;		
}